.card-action {
    display: flex;
    justify-content: space-between;
}

::ng-deep {
    .product-card {
        width: 450px;
    }

    .placeholder-card {
        position: relative;
        width: 450px;
        height: 600px;
        -webkit-animation: placeHolderSwept 1s infinite linear forwards;
        -moz-animation: placeHolderSwept 1s infinite linear forwards;
        -o-animation: placeHolderSwept 1s infinite linear forwards;
        animation: placeHolderSwept 1s infinite linear forwards;
        background: #ebebec;
        background-image: linear-gradient(to right, #ebebec 0%, #e0e0e2 20%, #ebebec 40%, #ebebec 100%);
        background-repeat: no-repeat;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

@-webkit-keyframes placeHolderSwept {
    0% {
        background-position: -400px 0
    }

    100% {
        background-position: 400px 0
    }
}

@-moz-keyframes placeHolderSwept {
    0% {
        background-position: -400px 0
    }

    100% {
        background-position: 400px 0
    }
}

@-o-keyframes placeHolderSwept {
    0% {
        background-position: -400px 0
    }

    100% {
        background-position: 400px 0
    }
}

@keyframes placeHolderSwept {
    0% {
        background-position: -400px 0
    }

    100% {
        background-position: 400px 0
    }
}